table {
    border-collapse: collapse;
    padding: 10px;
    width: 1000px;
    text-align: center;
    margin-left: 12%;
}

thead {
    background-color: lightseagreen;
}

h1 {
    text-align: center;
}

img.img_product {
    width: 200px;
    height: 200px;
}